{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="At our farm, we use the latest technology and equipment to ensure that our chickens are well-cared for. Our staff is experienced and dedicated, and they work tirelessly to ensure that our chickens are properly vaccinated, well-fed, and given the best possible living conditions. We believe that the key to producing the best chicken products is in the way we care for our birds. We are committed to the sustainable and responsible rearing of chickens, and we are always looking for ways to improve and innovate. We welcome you to explore our website and learn more about our farm and our products. If you have any questions or would like to place an order, please do not hesitate to contact us. Thank you for choosing our chicken poultry farm!">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <!-- footer section -->
 <footer>
    <div class="footer-wrapper">
        <p class="made">powered by sewonet</p>
    </div>
</footer>
<!-- end of footer section -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
</body>
</html>