{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header and nav -->
  <header id="home">
    <nav>
        <div class="logo-box">
            <h1>Poultry</h1>
        </div>
        <button class="menutoggle" aria-label="menu button">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-list">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header-content">
        <div class="text-box">
            <h2>Welcome to the website of our chicken poultry farm in Ghana!</h2>
            <p>We are dedicated to providing high-quality chicken products to our customers, and we take pride in the way we care for our birds. Our farm is committed to rearing healthy and happy chickens that are sure to meet the needs of our customers.</p>
            <a href="#contact" class="all-btns">Contact us</a>
        </div>
        <div class="img-box">
            <img src="{% static 'img/gif1.gif' %}" class="big-img" alt="A georgeous female chicken eating.">
            <img src="{% static 'img/img4.jpg' %}" class="icon" alt="icon 1" style="border-radius: 10px;">
        </div>
    </div>
</header>
<!-- end of header and nav -->
<!-- about us section --> 
<section id="about" class="about">
    <div class="section-wrapper">
        <h4 class="head-top">about us</h4>
        <h2 class="heading">Why Poultry is the best</h2>
        <div class="about-wrapper">
            <div class="img-box">
                <img src="{% static 'img/img1.jpg' %}" alt="a happy chicken" class="about-img">
                <img src="{% static 'img/img4.jpg' %}" class="icon" alt="icon 2" style="border-radius: 10px;">
            </div>
            <div class="content-box">
                <p></p>
                <P>We rear a wide range of chicken breeds, including broilers, layers, and roosters. Our chickens are reared in spacious and well-ventilated housing to ensure their comfort and well-being. We also use the best quality feeds, which are specially formulated to meet the nutritional needs of our birds.</P>
                <br>
                <P>Our chicken products are not only healthy and nutritious but also delicious. We offer a wide range of chicken products, including whole chickens, chicken parts, and chicken eggs. All our products are carefully processed and packaged to ensure their freshness and quality.</P>
                <br>
                <P>We understand the importance of customer satisfaction, which is why we strive to provide the best possible service to our customers. We offer convenient ordering options, including online ordering, and we also offer delivery services to our customers.</P>
                <div class="about-list-box">
                    <h4> We take pride in the quality of our chicken products.</h4>
                    <ul class="about-list">
                        <li>Trustworthy.</li>
                        <li>Reliable.</li>
                        <li>Fast services.</li>
                        <li>Healthy poultry.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of about us section -->
 <!-- services section -->
 <section id="services" class="services">
    <div class="section-wrapper">
        <h4 class="head-top">services</h4>
        <h2 class="heading">what Poultry provides</h2>
        <div class="services-wrapper">
            <div class="service-flex">
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img3.jpg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Chicken Rearing</h4>
                        <p> We rear a wide range of chicken breeds, including broilers, layers, and roosters. Our chickens are reared in spacious and well-ventilated housing, and we ensure that they are given the best possible care.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img1.jpg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Egg Production</h4>
                        <p> We also offer egg production services, and our farm produces high-quality chicken eggs. Our eggs are carefully collected, sorted, and packaged to ensure their freshness and quality.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img4.jpg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Delivery Services</h4>
                        <p> We offer delivery services to our customers, and we ensure that our products are delivered promptly and efficiently. Our delivery services are designed to ensure that our customers receive their products in the best possible condition.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img5.jpg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Chicken Processing</h4>
                        <p> We offer chicken processing services, and we carefully process our chickens to ensure that they are of the highest quality. Our chickens are processed in a hygienic environment, and we use the latest technology and equipment to ensure their quality.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img2.jpeg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Customer Support</h4>
                        <p>  We understand the importance of customer satisfaction, and we offer customer support services to ensure that our customers are satisfied with our services. Our customer support team is dedicated to addressing any issues or concerns that our customers may have.</p>
                    </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="box">
                    <div class="img-box">
                        <img src="{% static 'img/img2.jpeg' %}" alt="chicken">
                    </div>
                    <div class="text-box">
                        <h4>Online Ordering</h4>
                        <p>  We also offer online ordering services, which allow our customers to place orders from the comfort of their own homes. Our online ordering system is easy to use, and we ensure that our customers receive their orders promptly.</p>
                    </div>
                </div>
                <!-- end -->
            </div>
            <!-- stats -->
            <div class="service-stats-wrapper">
                <div class="box">
                    <h2>5k+</h2>
                    <p>happy clients</p>
                </div>
                <div class="box">
                    <h2>10k+</h2>
                    <p>healthy poultry</p>
                </div>
                <div class="box">
                    <h2>24/7</h2>
                    <p>customer help</p>
                </div>
                <div class="box">
                    <h2>10+</h2>
                    <p>breeds</p>
                </div>
            </div>
            <!-- end of stats -->
        </div>
    </div>
</section>
<!-- end of services section -->
<!-- contact us section -->
<section id="contact" class="contact">
    <div class="section-wrapper">
        <div class="contact-wrapper">
            <div class="contact-text-box">
                <h2>contact us</h2>
                <p class="para">At our chicken poultry farm in Ghana, we are committed to providing the best possible services to our customers. We take pride in the quality of our chicken products, and we are always looking for ways to improve and innovate. Thank you for choosing our chicken poultry farm. You can send us a mail here.</p>
                <div class="info-box">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>accra str, 455 gh</p>
                </div>
                <div class="info-box">
                    <i class="fas fa-envelope"></i>
                    <p>whatever@gmail.com</p>
                </div>
                <div class="info-box">
                    <i class="fas fa-phone"></i>
                    <p>+233 111 222 111</p>
                </div>
                <div class="social-box">
                    <a href="#n" aria-label="facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#n" aria-label="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="form-box">
                <div class="anime-wrapper">
                    <div class="img-box">
                        <img src="{% static 'img/img5.jpg' %}" alt="icon 3">
                    </div>
                    <div class="anime-box"></div>
                </div>
                <form action="#" class="contact-form">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <textarea placeholder="Message"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end of contact us section -->
{% endblock %}