{% extends "base_dashboard.html" %}
{% block content %}
<!-- nav -->
<nav class="dash-nav">
    <h4>{{request.user.username}}</h4>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'home' %}" style="color: blueviolet;">HOME</a>
</nav>
<!-- nav -->
<main class="main-page">
    <div class="section-wrapper">
        <h1 class="title">Outgoing<h1>
            <div class="table-wrapper">
                <!-- table for outgoing -->
                <table>
                    <thead>
                        <tr>
                            <td>Product name</td>
                            <td>amount</td>
                            <td>Date</td>
                            <td>Reason</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in outgoing %}
                        <tr>
                            <td>{{product.product_name}}</td>
                            <td class="money">GHC <span class="price">{{product.money_spent}}</span></td>
                            <td>{{product.date}}</td>
                            <td>{{product.reason}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- end of table for outgoing -->
            </div>
        <div class="btn-box">
            <a href="{% url 'outgoing' %}" class="all-btns">Enter data</a>
        </div>
        <br>
        <br>
        
        <h1 class="title">Incoming</h1>
        <div class="table-wrapper">
            <!-- table for incoming -->
            <table>
                <thead>
                    <tr>
                        <td>Product name</td>
                        <td>amount</td>
                    </tr>
                </thead>
                <tbody>
                    {% for product in incoming %}
                    <tr>
                        <td>{{product.product_name}}</td>
                        <td class="money">GHC <span class="price">{{product.money_recieved}}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- end of table for outgoing -->
        </div>
        <div class="btn-box">
            <a href="{% url 'incoming' %}" class="all-btns">Enter data</a>
        </div>
    </div>
</main>

{% endblock %}