{% extends "base_dashboard.html" %}
{% block content %}
<a href="{% url "logout" %}">Logout</a>
<br/>

<h1>{{request.user.username}} welcome <h1>
<h1>Outgoing<h1>

<table>
<tr>
    <th>Product name</th>
    <th>Money spent</th>
    <th>Date</th>
<th>Image</th>
<th>Reason</th>
</tr>
{% for product in outgoing %}
<tr>
    <td>{{product.product_name}}</td>
<td>{{product.money_spent}}</td>
    <td>{{product.date}}</td>
    <td><img src="{{product.image.url}}" /></td>
    <td>{{product.reason}}</td>
</tr>
{% endfor %}
</table>
<a href="{% url 'outgoing' %}">Enter data</a>


<h3>Stats</h3>
<hr/>

<h1>Incoming</h1>
<table>

</table>
<a href="{% url 'incoming' %}">Enter data</a>

<h3>Stats</h3>

{% endblock %}