{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
    <title>Revenue</title>
</head>
<body>
    {% block content %}

    {% endblock %}
     <!-- footer section -->
 <footer>
    <div class="footer-wrapper">
        
        <p class="made">powered by sewonet</p>
    </div>
</footer>
<!-- end of footer-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
</body>
</html>